@font-face {
	font-family: "selva"; /* Nome da fonte que você quer usar */
	src: url("../fonts/Pine\ Forest\ Personal\ Use\ Only.otf") format("truetype"); /* Caminho para a fonte */
	font-weight: normal;
	font-style: normal;
}

body {
	display: flex; /*container flexivel*/
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	font-family: "selva";
	font-size: x-large;
	margin: 0;
}

button {
	background-color: brown;
	color: white;
}
